### 1. Load the [sales_dataset](https://raw.githubusercontent.com/ItsmeBlackOps/Datasets/main/sales_data_large.csv) file into a pandas DataFrame and assign it to a variable called sales_data

### 2. Display the first 5 rows of the DataFrame

### 3. Check the data types of each column in the DataFrame

### 4. Calculate the total revenue for each order (Total = Price * Quantity) and add it as a new column

### 5. Find the orders where the total revenue is in the top 10% of all orders

### 6. Calculate the average and median revenue for each product category

### 7. Get the unique months in the dataset

### 8. Group the data by product and count the number of unique months for each product

### 9. Identify products that were sold every month for the entire duration of the dataset

### 10. Find the top 5 products with the highest average monthly revenue

### 11. Determine the month with the highest total revenue, and provide the total revenue for that month

### 12. Create a time series plot showing the monthly total revenue over the entire dataset